* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body {
  background: url("../assets/Background\ Gradient.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
} */
